@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

body * {
   font-family: 'Syne', sans-serif;

   
}

/* Header */

.site-title {
    display: none;
}



/* .container {
    padding-left: 0px;
    padding-right: 0px;
} */

/* li.menu-item-29 a{
    color: #000000;
} */

li.menu-item-29 a:hover {
    font-weight: 700;
    color: #000000;
}

.menu-item {
    padding: 18px 25px;
   
   
}

li.menu-item-30 {
    background-color: #DC9F96;
    /* padding: 15px 25px; */
    font-weight: 700;
    color: #FFFF;
}

li.menu-item-30:hover {
    background-color: #C02E44;
    /* padding: 15px 25px; */
    font-weight: 700;
    color: #FFFF;
    
}




/* Footer */

.footer-bottom{
    display: none;
}

.hfg_footer{
    display: flex;
    justify-content: center;
}
   






	


