.builder-item--primary-menu {
    --hovercolor: #DC9F96;
    --hovertextcolor: #DC9F96;
    --activecolor: #DC9F96;
}

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

body * {
   font-family: 'Syne', sans-serif;
}

:root{
    --font-weight: 700;
}


.single-page-container {
    background-color: #ECE2DA;
}

/* Header */

.site-title {
    display: none;
}

.container {
    padding: 0px;
}

.builder-item {
    margin: 0px;
}

.hfg_header.site-header {
    box-shadow: none;
}

li.menu-nous-rencontrer a{
    color: #000000;
}

li.menu-nous-rencontrer a:hover {
    font-weight: var(--font-weight);
    color: #000000;
}

.menu-item {
    padding: 18px 25px;
}

li.btn-menu-commander {
    background-color: #DC9F96;
    --color: #FFFF;
    font-weight: var(--font-weight);
}   
 

li.btn-menu-commander:hover {
    background-color: #C02E44;
    font-weight: var(--font-weight);
    --hovercolor:#FFFFFFFF;
    --hovertextcolor: #FFFFFFFF;
    --activecolor:#FFFFFFFF;
}
/* 


/* Footer */

.footer-bottom {
    display: none;
}

.hfg_footer {
    display: flex;
    justify-content: center;
}
   






	


